[Desktop Entry]
Name={{{name}}}
Comment={{{comment}}}
GenericName=OS Security
Exec={{{exec}}}
Categories=Security
Icon={{{icon}}}
Terminal=false
Keywords=secops;
Type=Application