[Desktop Entry]
Name={{{name}}}
Comment={{{comment}}}
GenericName=OS Security
Exec=pkexec /usr/bin/{{{exec}}}
Categories=Security
Icon={{{icon}}}
Terminal=false
Keywords=secops;
Type=Application